<div style="margin-top: -150px">
    {{#if jobs}}
        {{#each jobs}}
            <div class="col-lg-12 p-0" >
                <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        <h3 class="mb-0">
                            <h4 class="text-dark" href="#">{{job_title}}</h4>
                        </h3>
                        <div class="mb-1 text-muted">
                            <strong class="d-inline-block mb-2 text-primary">{{company_name}}</strong> • {{job_loc}}
                        </div>
                        <p class="card-text mb-auto unselectable">{{job_desc}}</p>
                    </div>
                </div>
            </div>
        {{/each}}
    {{else}}
        <p class="c-white">No jobs for this user</p>
    {{/if}}

</div>